/* Formatações Gerais */

body {
    margin: 0px;
    padding: 0px;
    background-color: #77dd77;
}

.grow0 {
    flex-grow: 0;
}

.grow1 {
    flex-grow: 1;
}

.grow2 {
    flex-grow: 2;
}

/* Fim Geral */


/* Incio Header */

#header-index {
    margin: 10px;
    display: flex;
    padding: px;
    justify-content: flex-start;
    text-align: center;
}

.logo-index {
    display: flex;
    /* border: 1px solid red; */
}

.name-empresa {
    /* border: 1px solid red; */
    font-family: 'Courier New', Courier, monospace, sans-serif;
    text-align: center;
    text-transform: uppercase;
}

/* Fim Header */

/* Inicio Menu */

#menu-index {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
}

#menu-index a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
}

#menu-index a:hover {
    background: white;
    color: black;
    padding: 10px;
    border-radius: 10px;
}

#conteudo {
    display: flex;
}

/* Fim Menu */

/* Noticia principal */
.noticia {
    width: 50%;
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    box-shadow: 2px 2px 2px;
}

.noticia img {
    height: 50%;
    width: 50%;
}

/* Fim Noticia Principal */

/* Inicio Menu Lateral */
.lateral a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.lateral {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid red;
    margin: 20px;
    border-radius: 10px;
    background-color: #fff
}

.lateral ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
    /* border: 1px solid red; */


}

.lateral ul li {
    padding-top: 20px;
    font-size: 20px;

}

.lateral h2 {
    text-align: center;
}

.lateral img {
    width: 50%;
    height: 50%;
}
